/* local styles */

.contacts li.left .contacts-body {
    margin-left: 60px;
}

.chat,
.contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li,
.contacts li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .far,
.chat .far {
    margin-right: 5px;
}

.chatbody {
    xoverflow-y: scroll;
    xheight: 397px;
    background-color: #FEF6EB;
    xborder: 1px solid black;

}



.dnp-message-footer {

    height: 100px;
}

/* General Scroll Bars ***********************************************/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FEF6EB;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BEB9B5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BEB9B5;
}



/* End General Scroll Bar *********************************************/
/* pecific scroll bars ***********************************************/

/* Handle */
.dnp-scroll-1 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #74828F;
    border-radius: 5px;
}



/* End Specific Scroll Bar *********************************************/

.fixed-top.navbar {
    padding: 0px;
}

@media (min-width: 900px) {
    .container .navbar {
        width: 800px;
    }
}



/* Modal styles ********************************************************/

.dnp-animate-left {
    xposition: relative;
    animation: animateleft 0.4s;
}

.dnp-animate-left-out {
    xposition: relative;
    animation: animateleft-out 0.4s;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animateleft-out {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -300px;
        opacity: 0;
    }
}

/* ***************** */
.dnp-animate-right {
    xposition: relative;
    animation: animateright 0.4s;
}

.dnp-animate-right-out {
    xposition: relative;
    animation: animateright-out 0.4s;
}

@keyframes animateright {
    from {
        left: 600px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animateright-out {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: 600px;
        opacity: 0;
    }
}

/* ***************** */

/* Full screen Modal */
.dnp-fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;

}

/* https://stackoverflow.com/questions/19140702/bootstrap-3-set-height-of-modal-window-according-to-screen-size */
.modal-body {
    xmax-height: calc(100vh - 25vh);
    xoverflow-y: auto;
}

@media (min-width: 768px) {
    .dnp-fullscreen-modal .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .dnp-fullscreen-modal .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .dnp-fullscreen-modal .modal-dialog {
        width: 1170px;
    }
}

/* end modal styles ******************************************************/


/* Custom Colors */
/*
            #BEB9B5
            #C25B56
            #FEF6EB

            #BDDDF4, #C8C0F7, #EEB371, #F6EA97, #7BC9A0.

        */
.dnp-bg-screen {
    background-color: #FEF6EB;
}

.dnp-bg-left {
    background-color: #FEF6EB;
}

.dnp-bg-primary {
    background-color: #525564;
}

.dnp-bg-header1 {
    background-color: #74828F;
}

.dnp-bg-header2 {
    background-color: #73748e;
    /* #96C0CE; */
}

.dnp-bg-header3 {
    background-color: #73748e;
    /* #BEB9B5; */
}

.dnp-bg-secondary {
    background-color: #C25B56;
}



/* Styles copied from original */


.contact-status {
    position: absolute;
    xleft: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    xborder: 2px solid #2c3e50;
    xbackground: #95a5a6;
}

.online {
    background: #2ecc71;

}